<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Canoinha</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarProdutoServlet</display-name>
    <servlet-name>AdicionarProdutoServlet</servlet-name>
    <servlet-class>servlet.AdicionarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarProdutoServlet</servlet-name>
    <url-pattern>/AdicionarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarCategoriaServlet</display-name>
    <servlet-name>AdicionarCategoriaServlet</servlet-name>
    <servlet-class>servlet.AdicionarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarCategoriaServlet</servlet-name>
    <url-pattern>/AdicionarCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaServlet</display-name>
    <servlet-name>CategoriaServlet</servlet-name>
    <servlet-class>servlet.CategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaServlet</servlet-name>
    <url-pattern>/CategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>servlet.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProdutoServlet</display-name>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <servlet-class>servlet.AlterarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <url-pattern>/AlterarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreencherFormulario</display-name>
    <servlet-name>PreencherFormulario</servlet-name>
    <servlet-class>servlet.PreencherFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreencherFormulario</servlet-name>
    <url-pattern>/PreencherFormulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProdutoServlet</display-name>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <servlet-class>servlet.ExcluirProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <url-pattern>/ExcluirProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarUsuarioServlet</display-name>
    <servlet-name>AdicionarUsuarioServlet</servlet-name>
    <servlet-class>servlet.AdicionarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarUsuarioServlet</servlet-name>
    <url-pattern>/AdicionarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarUsuarioServlet</display-name>
    <servlet-name>AlterarUsuarioServlet</servlet-name>
    <servlet-class>servlet.AlterarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarUsuarioServlet</servlet-name>
    <url-pattern>/AlterarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>servlet.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreencherFormularioUsuario</display-name>
    <servlet-name>PreencherFormularioUsuario</servlet-name>
    <servlet-class>servlet.PreencherFormularioUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreencherFormularioUsuario</servlet-name>
    <url-pattern>/PreencherFormularioUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuarioServlet</display-name>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <servlet-class>servlet.ExcluirUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <url-pattern>/ExcluirUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCategoriaServlet</display-name>
    <servlet-name>AlterarCategoriaServlet</servlet-name>
    <servlet-class>servlet.AlterarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCategoriaServlet</servlet-name>
    <url-pattern>/AlterarCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCategoriaServlet</display-name>
    <servlet-name>ExcluirCategoriaServlet</servlet-name>
    <servlet-class>servlet.ExcluirCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCategoriaServlet</servlet-name>
    <url-pattern>/ExcluirCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreencherFormularioCategoria</display-name>
    <servlet-name>PreencherFormularioCategoria</servlet-name>
    <servlet-class>servlet.PreencherFormularioCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreencherFormularioCategoria</servlet-name>
    <url-pattern>/PreencherFormularioCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listaProdutos</display-name>
    <servlet-name>listaProdutos</servlet-name>
    <servlet-class>servlet.listaProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaProdutos</servlet-name>
    <url-pattern>/listaProdutos</url-pattern>
  </servlet-mapping>
</web-app>