<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Canoinha</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarProdutoServlet</display-name>
    <servlet-name>AdicionarProdutoServlet</servlet-name>
    <servlet-class>servlet.AdicionarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarProdutoServlet</servlet-name>
    <url-pattern>/AdicionarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarCategoriaServlet</display-name>
    <servlet-name>AdicionarCategoriaServlet</servlet-name>
    <servlet-class>servlet.AdicionarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarCategoriaServlet</servlet-name>
    <url-pattern>/AdicionarCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaServlet</display-name>
    <servlet-name>CategoriaServlet</servlet-name>
    <servlet-class>servlet.CategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaServlet</servlet-name>
    <url-pattern>/CategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>servlet.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProdutoServlet</display-name>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <servlet-class>servlet.AlterarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <url-pattern>/AlterarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreencherFormulario</display-name>
    <servlet-name>PreencherFormulario</servlet-name>
    <servlet-class>servlet.PreencherFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreencherFormulario</servlet-name>
    <url-pattern>/PreencherFormulario</url-pattern>
  </servlet-mapping>
</web-app>